<ion-header class="transparent" color="transparent">
  <ion-navbar color="transparent">
    <ion-title>Log in</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="public-page login-content" padding no-margin>

  <div class="login-flex">

    <div class="login-box">

      <form (ngSubmit)="login()" #loginForm="ngForm" style="margin-top: 100px;">
       
        <ion-row>
            <ion-col col-5 no-padding>
              <ion-item class="no-space-left">
                <ion-label floating>Country</ion-label>
                <ion-select name="country" [(ngModel)]="credentials.country" #country="ngModel">
                  <ion-option *ngFor="let country of countries" [value]="country.dial_code">({{country.dial_code}})&nbsp; {{country.name}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-7 no-padding>
              <ion-item>
                <ion-label floating>Email/Mobile Number</ion-label>
                <ion-input type="text" #email="ngModel" id="email" [(ngModel)]="credentials.text" name="email" required ></ion-input>
              </ion-item>
              <ion-note padding color="danger" *ngIf="email.touched && email.invalid && email.errors.minlength">
                10 characters at least and 12 at most
              </ion-note>
            </ion-col>
          </ion-row>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="credentials.password" name="password" required
                     minlength="1"></ion-input>
        </ion-item>
        <button ion-button round class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid"
                style="margin-top: 100px;">
          Log in
        </button>
        <button ion-button type="button" role="button" class="register-btn" block clear (click)="forgotPassword()">
          Forgot your password?
        </button>
      </form>

    </div>

    <div class="register-box">
      <button ion-button type="button" role="button" class="register-btn" block clear (click)="createAccount()">
        Create an account
      </button>
    </div>

  </div>


</ion-content>
