<ion-header color="white">
  <ion-navbar color="white">
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="change-password-content" padding no-margin>

  <div class="change-password-flex">
    <div class="change-password-box">
      <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
        <ion-item class="no-space-left">
          <ion-label floating>Current Password</ion-label>
          <ion-input type="password" #curPwd="ngModel" id="current-password" [(ngModel)]="currentPassword"
                     name="current_password" required minlength="6" maxlength="40"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="curPwd.touched && curPwd.invalid && curPwd.errors.minlength">
          6 characters at least
        </ion-note>
        <ion-item class="no-space-left">
          <ion-label floating>New Password</ion-label>
          <ion-input type="password" #newPwd="ngModel" id="new-password" [(ngModel)]="newPassword"
                     name="new_password" required minlength="6" maxlength="40"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="newPwd.touched && newPwd.invalid && newPwd.errors.minlength">
          6 characters at least
        </ion-note>
        <ion-item class="no-space-left">
          <ion-label floating>Confirm Password</ion-label>
          <ion-input type="password" #cfrmPwd="ngModel" id="confirm-password" [(ngModel)]="confirmPassword"
                     name="new_password_confirmation" required></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="cfrmPwd.touched && cfrmPwd.invalid && cfrmPwd.errors.minlength">
          Enter same password again
        </ion-note>
        <br/>
        <button ion-button round class="submit-btn" full type="submit" [disabled]="!changePasswordForm.form.valid">
          Change Password
        </button>
      </form>
    </div>
  </div>

</ion-content>
