page-chats {
  .fab {
    contain: layout;
}
.fab-close-active .fab-close-icon {
  opacity: 1;
  -webkit-transform: scale(1) rotateZ(0deg);
  transform: scale(1) rotateZ(0deg);
  margin-top: 20%;
}
  button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0,0,0,0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
}
}



ion-item {



  
  
  &.chat-entry {

    ion-avatar {
      > * {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        border: 2px solid white;
       /*opacity: 0.75;*/
      }    

      > h3 {
        overflow: hidden;
        background-color: color($colors, dark);
        color: white;
        font-size: 35px;
        text-align: center;
        margin: auto;
        box-sizing: border-box;
        padding-top: 22.5px;
        line-height: 35px;
      }
      &.new-messages {
        > * {
          border-color: color($colors, secondary);
          opacity: 1;
        }
      }
    }

    ion-badge {
      font-size: 0.8em;
      right: 0;
      position: absolute;
      top: 20px;
    }

    ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 14px;
      right: 0;
      position: absolute;
    }

    h2 {
      font-weight: 600 !important;
      color: color($colors, primary); 
      text-align: left;
      margin-top:3%;
    }  
    

    
  }


  
}

ion-fab {
  ion-icon {padding: 0 0 0 0 !important}
}

