page-accept-invitation {

  .submit-btn {
    background-color: color($colors, secondary) !important;
    font-weight: 700;
    color: color($colors, primary);
    margin-bottom: 0px !important;
  }

}
