page-join-team-with-url {

  .header {
    background-color: color($colors, primary);
    color: white;
    text-align: center;
    padding: 15px 0;

    img {
      width: 128px;
      height: 128px;
      margin: 7.5px;
      border-radius: 100%;
    }

  }

}
